<p id="notice"><%= notice %></p>

<h1>Module Sections</h1>

<table>
  <thead>
    <tr>
      <th>Module</th>
      <th>Module name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @module_sections.each do |module_section| %>
      <tr>
        <td><%= module_section.module_id %></td>
        <td><%= module_section.module_name %></td>
        <td><%= link_to 'Show', module_section %></td>
        <td><%= link_to 'Edit', edit_module_section_path(module_section) %></td>
        <td><%= link_to 'Destroy', module_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Module Section', new_module_section_path %>
