<div>
<%= form_for @content, html: { multipart: true } do |f| %>   
    <%= f.label :title %>   
    <%= f.text_field :title %>   
    <br>
    <br>   
    <%= f.label :description %>   
    <%= f.text_field :description %>   
    <br>
    <br>   
    <%= f.label :attachment %>   
    <%= f.file_field :attachment %>   
    <br>
    <br>
    <%= f.label :content_type %>
    <%= f.text_field :content_type %>
    <br>
    <br>
    <%= f.submit "Save" %>   
<% end %>
<br>
<%= link_to 'Back', contents_path %>
</div>
