<%= form_with(model: page) do |form| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
        <% page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>Module ID</th>
        <th>Module Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @module_sections.each do |module_section| %>
        <tr>
          <td><%= module_section.modID %></td>
          <td><%= module_section.module_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>



  <div class="field">
    <%= form.label :module_id %>
    <%= form.select :module_id, ModuleSection.order(:modID).map { |module_section| [module_section.modID, module_section.id] }, include_blank: true, id: "id_of_the_module_section_id_select_box" %>
  </div>

  <div class="field">
    <%= form.label :content_id %>
    <%= form.number_field :content_id %>
  </div>

  <div class="field">
    <%= form.label :page_name %>
    <%= form.text_field :page_name %>
  </div>

  <div class="field">
    <%= form.label :page_description %>
    <%= form.text_field :page_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
