<%= form_with(model: page) do |form| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
        <% page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :page_id %>
    <%= form.number_field :page_id %>
  </div>

  <div class="field">
    <%= form.label :module_id %>
    <%= form.number_field :module_id %>
  </div>

  <div class="field">
    <%= form.label :content_id %>
    <%= form.number_field :content_id %>
  </div>

  <div class="field">
    <%= form.label :page_name %>
    <%= form.text_field :page_name %>
  </div>

  <div class="field">
    <%= form.label :page_description %>
    <%= form.text_field :page_description %>
  </div>

  <div class="tags">
  # <%= form.collection_check_boxes :tag_ids, Tag.all, :id, :tag_name %>
    <%= form.label :tags, style: "display: block" %>
    <%= form.text_field :tags, placeholder: "Tags", value: page.tags.map(&:name).join(",") %>
    
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
