<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row content">
      <%if current_user.admin? || current_user.root? %>
        <div class="col-sm-3 sidenav">
          <h4><%= link_to 'TAMU-FUSE', module_sections_path %></h4>
          <div class="panel panel-success">
            <div class="panel-heading">
              <% if user_signed_in? %>
                Logged in as <strong><%= current_user.username %></strong>.|
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
              <% end %>
            </div>
            <div class = "panel-body">
              <%= link_to ' View All Modules', module_sections_path %> 
              <br>
              <%= link_to ' View All Pages', pages_path %> 
              <br>
              <%= link_to ' View All Content', contents_path %> 
              <br>
              <%= link_to ' View All Internships', internship_ops_path %> 
            </div>
          </div>
          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to 'New Module', new_module_section_path %></li>
            <li><%= link_to 'New Internship Opportunity', new_internship_op_path %></li>
            <li><%= link_to 'New Content', contents_middle_path %></li>
            <li><%= link_to 'New Page', new_page_path %></li>
          </ul><br>
        </div>

        <div class="col-sm-9">
          <div class="list-group">
            <p id="notice"><%= notice %></p>
            <div class="list-group-item">
              <p>
              <strong>Module:</strong> <%= @page.module_name %> / <strong>Page name:</strong> <%= @page.page_name %> / <strong>Page description:</strong> <%= @page.page_description %> | <%= link_to 'Edit', edit_page_path(@page) %>
              </p>
            </div>
            <% @page.content_ids.each do |item| %>
              <div class="list-group-item">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><%= @contents.find(item).title %></h3>
                  </div>
                  <%if @contents.find(item).content_type == 'pdf'%>
                      <embed src=<%=@contents.find(item).attachment_url%> width="500" height="375" type="application/pdf">
                    <%else%> 
                      <iframe width="500" height="375" src=<%=@contents.find(item).attachment_url%> frameborder="0" allowfullscreen></iframe> 
                  <%end%>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <%else%> 
          <div class="col-sm-3 sidenav">
            <h4><%= link_to 'TAMU-FUSE', module_sections_path %></h4>
            <div class="panel panel-success">
              <div class="panel-heading">
                <% if user_signed_in? %>
                  Logged in as <strong><%= current_user.username %></strong>.|
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
                <% end %>
              </div>
              <div class = "panel-body">
                <%= link_to ' View All Modules', module_sections_path %> 
                <br>
                <%= link_to ' View All Pages', pages_path %> 
                <br>
                <%= link_to ' Internships Opportunities ', internship_ops_path %>
              </div>
              
            </div>
            
            <ul class="nav nav-pills nav-stacked">
              <% @pages.try(:each) do |page| %>
                <% if page.module_name == @page.module_name %>
                    <li><%= link_to page.page_name , page %></li>
                <% end %>
              <% end %>
            </ul><br>
          </div>
          <div class="col-sm-9">
            <div class="list-group">
              <p id="notice"><%= notice %></p>
              <div class="list-group-item">
                <p>
                <strong>Module:</strong> <%= @page.module_name %> / <strong>Page name:</strong> <%= @page.page_name %> 
                </p>
              </div>
              <div class="list-group-item">
                <p>
                <strong>Page Description: </strong><%= @page.page_description %>
                </p>
                <p>
                <strong>Tags: </strong> 
                <% @page.tags.each do |tag| %>
                  <%= link_to tag, style: "text-decoration:none" do %>
                    <span class="tag"><%= tag.tag_name.capitalize %></span>
                  <% end %>
                <% end %>
                </p>
              
              </div>
              <% @page.content_ids.each do |item| %>
                <div class="list-group-item">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title"><%= @contents.find(item).title %></h3>
                    </div>
                    <div class="panel-body">
                      <div class="embed-responsive embed-responsive-16by9">
                        <%if @contents.find(item).content_type == 'pdf'%>
                          <embed src=<%=@contents.find(item).attachment_url%> width="500" height="375" type="application/pdf">
                          <%else%> 
                            <iframe width="500" height="375" src=<%=@contents.find(item).attachment_url%> frameborder="0" allowfullscreen></iframe> 
                        <%end%>
                      </div>
                    </div>
                    <div class="panel-footer">
                      <p><strong>Description: </strong> <%= @contents.find(item).description %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
      <%end%>
    </div> 
  </div>
</body>
</html>