<p id="notice"><%= notice %></p>

<p>
  <strong>Module:</strong>
  <%= @page.module_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @page.content_id %>
</p>

<p>
  <strong>Page name:</strong>
  <%= @page.page_name %>
</p>

<p>
  <strong>Page description:</strong>
  <%= @page.page_description %>
</p>

<p> 
  <strong>Tags:</strong>
    <% @page.tags.each do |tag| %>
      <%= link_to tag, style: "text-decoration:none" do %>
        <span class="tag"><%= tag.tag_name.capitalize %></span>
      <% end %>
    <% end %>
</p>



<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
