<%= form_with(model: password) do |form| %>


  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <p id="alert"><%= alert %></p>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
