<%= form_with(model: internship_op) do |form| %>
  <% if internship_op.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(internship_op.errors.count, "error") %> prohibited this internship_op from being saved:</h2>

      <ul>
        <% internship_op.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :internship_name %>
    <%= form.text_field :internship_name %>
  </div>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>

  <div class="field">
    <%= form.label :contact_name %>
    <%= form.text_field :contact_name %>
  </div>

  <div class="field">
    <%= form.label :contact_email %>
    <%= form.text_field :contact_email %>
  </div>

  <div class="field">
    <%= form.label :company_link %>
    <%= form.text_field :company_link %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
