<p id="notice"><%= notice %></p>

<h1>Internship Opportunities</h1>

<table>
  <thead>
    <tr>
      <th>Internship name</th>
      <th>Company name</th>
      <th>Contact name</th>
      <th>Contact email</th>
      <th>Company link</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @internship_ops.each do |internship_op| %>
      <tr>
        <td><%= internship_op.internship_name %></td>
        <td><%= internship_op.company_name %></td>
        <td><%= internship_op.contact_name %></td>
        <td><%= internship_op.contact_email %></td>
        <td><%= internship_op.company_link %></td>
        <td><%= internship_op.description %></td>
        <td><%= link_to 'Show', internship_op %></td>
        <td><%= link_to 'Edit', edit_internship_op_path(internship_op) %></td>
        <td><%= link_to 'Destroy', internship_op, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Internship Opportunity', new_internship_op_path %>

<br>

<%= link_to 'Back to Home', module_sections_path %>
