<p id="notice"><%= notice %></p>

<p>
  <strong>Internship name:</strong>
  <%= @internship_op.internship_name %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @internship_op.company_name %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @internship_op.contact_name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @internship_op.contact_email %>
</p>

<p>
  <strong>Company link:</strong>
  <%= @internship_op.company_link %>
</p>

<p>
  <strong>Description:</strong>
  <%= @internship_op.description %>
</p>

<%= link_to 'Edit', edit_internship_op_path(@internship_op) %> |
<%= link_to 'Back', internship_ops_path %>
